body {
    margin: 0px;
}
#top{
    height: 20px;
    background-color: #563C5B;;
}
#navbar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 20px;
}
#navbar img{
    height: 10vh;
}
#map{
    width:100%;
    height: 100vh;
}
h1{
    /*border: 1px solid tomato;*/
    font-size: 50;
    padding: 30px;
}
#about {
    height: 80vh;
    background-color: #563C5B;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#about h1{
    font-family: 'Roboto', sans-serif;
    color: azure;
}
/*
img{
    border: 3px solid tomato;
}
*/