.comment-area {
  padding: 20px;
  background-color: #563c5b;
}

.comment-area h3 {
  margin-top: 0;
}

.comment-area label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.comment-area textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  min-height: 100px;
}

.comment-area input[type="submit"] {
  background-color: #563c5b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 28px;
  right: 10px;
}

.comment-area input[type="submit"]:hover {
  background-color: #7c598c;
}

.comment-area form {
  position: relative;
}

#comments-section {
  padding: 20px;
  background-color: #563c5b;
  color: white;
  margin-top: 0;
}

.comment {
  font-family: "Roboto";
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
}

.comment p {
  margin: 0 0 10px;
  font-size: 14px;
}

.comment-info {
  display: flex;
  justify-content: space-between; /* Align the ID and time on opposite ends */
}

.comment-id {
  float: left;
  font-size: 10px;
  color: #778899;
}

.comment-date {
  float: right;
  font-size: 10px;
  color: #778899;
}

.comment-item {
  padding: 5px 10px;
  color: white;
  font-size: 14px;
}

.g-recaptcha > div {
  margin: 2px auto;
  text-align: center;
  width: auto;
  height: auto;
 }