#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  background-color: #563c5b;
  color: #fff;
  margin-bottom: 0;
  overflow: auto; /* Add scrollbars if the content overflows */
  padding: 1rem; /* Add some padding around the content */
}

/* Set font family and color for h3 and p in description section */
#description h3,
#description p {
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
}


.plant-card {
  display: inline-block; /* Allows plant cards to be in a row */
  /* background-color: #f8f8f8; */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px; /* Adjust this value to make cards wider */
} */

.plant-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.plant-card {
  flex: 0 0 auto; /* Prevents plant cards from shrinking */
  /* background-color: #f8f8f8; */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px; /* Adjust this value to make cards wider */
}

.plant-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.garden-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.draggable-hint {
  display: block;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  text-align: center;
  margin-bottom: 0.5rem;
}